legacy-peer-deps=true
engine-strict=true
audit=false
fund=false
sharp_binary_host=https://github.com/lovell/sharp-libvips/releases/download/v8.15.0/
sharp_libvips_binary_host=https://github.com/lovell/sharp-libvips/releases/download/v8.15.0/